html, body {
    color: #515a6e;
}
fieldset {
    border: 1px solid #dcdee2;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}
/* fieldset:hover {
    box-shadow: 0 2px 7px rgba(0,0,0,.15);
    border-color: transparent;
}
fieldset:hover > legend {
    text-shadow: -1px -1px #eee;
} */
input {
    padding: 4px 7px;
    height: 24px;
    border: 1px solid #dcdee2;
    border-radius: 4px;
    color: #515a6e;
    transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
}
input:hover, input:focus {
    border-color: #42b983;
}
input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(45,240,204,.2);
}